body{
    background-image: url(homebg.jpg);
    font-family: monospace;
}
.div1{
    display: flex;
    float: right;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 50%;
}
a{
    color: white;
    margin: 20px;
    font-family:monospace;
}
a:hover{
    opacity: 0.7;
}
hr{
    display: flex;
    float: left;
    width: 35%;
    margin-left: 50px;
    margin-top: 20px;
}
.div2{
    display: flex;
    float: left;
    margin-top: 20%;
    margin-left: 5%;
    color: white;
    font-family: monospace;
}
h1{
    justify-content: left;
}
.span{
    size: 300px;
}
.div4{
    display: flex;
    float: right;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 70%;
    margin-right: 20%;
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 70px 70px 70px 70px;
    font-size: larger;
}
img{
    display: flex;
    float: left;
    margin-right: 0%;
    margin-top: 0%;
}